@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@inherits RootPanel
@attribute [StyleSheet]
@code{
    public Pawn Pawn;
    public Score sc = new Score();
    public Score Kills;
    public Score Deaths;



}
<root>
    <ChatBox/>
    <VoiceList/>
    <p class = "LB">Leaderboards</p>

</root>

@code
{
}